<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::baseLayout(~{::div})">
<head>
<meta charset="UTF-8" />
<title>Home page</title>
</head>
<body>
	<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
		Consectetur quaerat tempora suscipit repudiandae optio eius natus
		beatae aspernatur ab odio fuga animi atque molestiae hic eveniet quasi
		voluptates labore nam illum et magnam ad culpa eligendi in deserunt
		nemo autem vitae eos perspiciatis unde. Totam inventore impedit cum
		asperiores error.</div>
</body>
</html>